<center><span style="color:red; font-size:30px">CSV</span></center>

<span style="color:blue; font-size:15px">FUENTE DE DATOS: <span style="color:purple; font-size:15px">MEDALLAS.CSV</span></span>

PAIS;MEDALLA_ORO;MEDALLA_PLATA;MEDALLA_BRONCE
USA;2235;1252;1098
URS;838;627;584
GBR;546;621;553
ITA;476;416;404
GER;452;378;475
HUN;412;316;351
FRA;408;491;497
SWE;349;367;328
GDR;329;271;225
AUS;312;405;472

<span style="color:blue; font-size:15px">CARGAR LIBRERIAS: <span style="color:purple; font-size:15px">PANDAS-MATPLOTLIB</span></span>

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

<span style="color:blue; font-size:15px">EJEMPLO 01: <span style="color:purple">LEER LO DATOS DE UN ARCHIVO CSV</span></span>

In [3]:
df = pd.read_csv('medallas.csv', delimiter=';')
print(df)
df

  PAIS  MEDALLA_ORO  MEDALLA_PLATA  MEDALLA_BRONCE
0  USA         2235           1252            1098
1  URS          838            627             584
2  GBR          546            621             553
3  ITA          476            416             404
4  GER          452            378             475
5  HUN          412            316             351
6  FRA          408            491             497
7  SWE          349            367             328
8  GDR          329            271             225
9  AUS          312            405             472

  PAIS  MEDALLA_ORO  MEDALLA_PLATA  MEDALLA_BRONCE
0  USA         2235           1252            1098
1  URS          838            627             584
2  GBR          546            621             553
3  ITA          476            416             404
4  GER          452            378             475
5  HUN          412            316             351
6  FRA          408            491             497
7  SWE          349            367             328
8  GDR          329            271             225
9  AUS          312            405             472

<span style="color:blue; font-size:15px">EJEMPLO 02: <span style="color:purple; font-size:15px">LEER UN ARCHIVO CSV LIMITANDO LA CANTIDAD DE FILAS</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';')
muestra = df[:5]
print(muestra)
muestra

<span style="color:blue; font-size:15px">EJEMPLO 03: <span style="color:purple; font-size:15px">MOSTRAR LA PRIMERA COLUMNA COMO CLAVE PRIMARIA</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';', index_col=['MedallasBronce'])
print(df)
df

<span style="color:blue; font-size:15px">EJEMPLO 04: <span style="color:purple; font-size:15px">MOSTRAR LOS DATOS A PARTIR DE UNA FILA DETERMINADA</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';', header=6) # Muestra a partir de la fila 6 hacia abajo
print(df)
df

<span style="color:blue; font-size:15px">EJEMPLO 05: <span style="color:purple; font-size:15px">CAMBIAR EL NOMBRE DE LAS COLUMNAS</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';', header=0, names=['Pais','Oro','Plata','Bronce'])
# print(df)
df

<span style="color:blue; font-size:15px">EJEMPLO 06: <span style="color:purple; font-size:15px">MOSTRAR SOLO ALGUNAS COLUMNAS</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';', usecols=['Pais','MedallasOro'] )
muestra = df[:5]
muestra

<span style="color:blue; font-size:15px">EJEMPLO 07: <span style="color:purple; font-size:15px">GRAFICO DE BARRAS VERTICAL</span></span>

In [3]:
df = pd.read_csv('medallas.csv', delimiter=';', index_col='Pais' )
df
df.plot(kind='bar')

FileNotFoundError: [Errno 2] No such file or directory: 'medallas.csv'

<span style="color:blue; font-size:15px">EJEMPLO 08: <span style="color:purple; font-size:15px">GRAFICO DE BARRAS HORIZONTAL</span></span>

In [ ]:
import matplotlib.pyplot as plt
df = pd.read_csv('medallas.csv', delimiter=';', index_col='Pais' )
df
df.plot(kind='barh')

<span style="color:blue; font-size:15px">EJEMPLO 09: <span style="color:purple; font-size:15px">GRAFICO DE BARRAS VERTICAL MODIFICAR EL ANCHO</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';', index_col='Pais' )
df
df.plot(kind='bar', width=0.9)

<span style="color:blue; font-size:15px">EJEMPLO 10: <span style="color:purple; font-size:15px">MOSTRAR LOS DATOS EN UNA SOLA BARRA APILADA</span></span>

In [ ]:
df = pd.read_csv('medallas.csv', delimiter=';', index_col='Pais' )
df
df.plot(kind='bar', 
        stacked = 'True',  # Barra apilada
        #subplots=True,
        figsize=(10,10),
        width=0.9)

<span style="color:blue; font-size:15px">EJEMPLO 11: <span style="color:purple; font-size:15px">MOSTRAR TONALIDADES DE COLOR</span></span>

In [ ]:
colores_l = ['#F3FF33','#A1A298','#F37D15']
df = pd.read_csv('medallas.csv', delimiter=';', index_col='Pais' )
df
df.plot(kind='bar', 
        stacked = 'True',  # Barra apilada
        #subplots=True, # Mostrar cada columna en una grafica distinta
        figsize=(10,10),
        width=0.9,
        alpha = 0.8,
        color = colores_l)

<span style="color:blue; font-size:15px">BIBLIOGRAFIA</span>

https://www.machinelearningplus.com/pandas/pandas-read_csv-completed<br>
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

<span style="color:blue; font-size:15px">ANEXO</span>

In [ ]:
pwd